.custom-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 150px;
}

.custom-menu .menu-item {
    padding: 8px 15px;
    cursor: pointer;
    white-space: nowrap;
}

.custom-menu .menu-item:hover {
    background: #f0f0f0;
}

.calendarButton1{
   
}

.calendarButton1 {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}