.custom-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 150px;
}

.custom-menu .menu-item {
    padding: 8px 15px;
    cursor: pointer;
    white-space: nowrap;
}

.custom-menu .menu-item:hover {
    background: #f0f0f0;
}

.calendarButton1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10%; /* Button width relative to the input field */
    height: 100%; /* Button height matches the input field */
}